USE [master]
GO
/****** Object:  Database [PortuariaDemo]    Script Date: 11/7/2026 16:38:50 ******/
CREATE DATABASE [PortuariaDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortuariaDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VICTUS\MSSQL\DATA\PortuariaDemo.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PortuariaDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VICTUS\MSSQL\DATA\PortuariaDemo_log.ldf' , SIZE = 4288KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortuariaDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortuariaDemo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_turno_por_hora]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_turno_por_hora] (@hora TIME)
RETURNS NVARCHAR(10)
AS
BEGIN
    RETURN (
        CASE
            WHEN @hora >= '07:00:00' AND @hora < '15:00:00' THEN N'Mañana'
            WHEN @hora >= '15:00:00' AND @hora < '23:00:00' THEN N'Tarde'
            ELSE N'Noche'
        END
    );
END;

GO
/****** Object:  Table [dbo].[bit_acc_secuenciales]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_acc_secuenciales](
	[id_secuencial] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [nvarchar](80) NOT NULL,
	[tabla] [nvarchar](128) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[prefijo_codigo] [nvarchar](30) NOT NULL,
	[ultimo_numero] [int] NOT NULL,
	[longitud] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_secuencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_camaras]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_camaras](
	[id_bitacora_camara] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[secuencia] [nvarchar](100) NULL,
	[turno] [nvarchar](50) NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[consolista] [nvarchar](150) NULL,
	[hora_registro] [time](7) NOT NULL,
	[novedad] [nvarchar](max) NULL,
	[camara_ip] [nvarchar](50) NULL,
	[ubicacion] [nvarchar](150) NULL,
	[sitio] [nvarchar](80) NULL,
	[estado_camara] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[usuario_registro] [nvarchar](150) NULL,
	[estado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NULL,
	[id_camara] [int] NULL,
	[nivel_alerta] [int] NOT NULL,
	[id_motivo_camara] [int] NULL,
	[sec_bitacora] [int] NULL,
	[codigo_bitacora] [nvarchar](30) NULL,
	[tipo_registro] [int] NOT NULL,
	[rol_responsable] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bitacora_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_configuracion]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_configuracion](
	[clave] [nvarchar](50) NOT NULL,
	[valor] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_departamentos]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_departamentos](
	[iddepartamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[detalle] [nvarchar](120) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iddepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_destinos]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_destinos](
	[id_destino] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_empresas]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_empresas](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[empresa] [nvarchar](150) NOT NULL,
	[razonsocial] [nvarchar](200) NULL,
	[ruc] [nvarchar](20) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_estados]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_estados](
	[idestado] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[detalle] [nvarchar](255) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_bit_estados] PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_funcionarios]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_funcionarios](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[cargo] [nvarchar](100) NOT NULL,
	[cedula] [nvarchar](20) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_inv_camaras]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_inv_camaras](
	[id_camara] [int] IDENTITY(1,1) NOT NULL,
	[cod_old] [nvarchar](30) NULL,
	[codigo] [nvarchar](30) NULL,
	[tipo] [nvarchar](80) NULL,
	[marca] [nvarchar](80) NULL,
	[modelo] [nvarchar](120) NULL,
	[tecnologia] [nvarchar](50) NULL,
	[caracteristica] [nvarchar](250) NULL,
	[ip] [nvarchar](50) NULL,
	[mac] [nvarchar](80) NULL,
	[serie] [nvarchar](120) NULL,
	[ubicacion] [nvarchar](150) NULL,
	[detalle] [nvarchar](200) NULL,
	[grabador] [nvarchar](120) NULL,
	[estado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NULL,
	[sec_camara] [int] NULL,
	[codigo_secuencial] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_motivos]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_motivos](
	[id_motivo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_motivos_camaras]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_motivos_camaras](
	[id_motivo_camara] [int] IDENTITY(1,1) NOT NULL,
	[sec_motivo] [int] NULL,
	[codigo_motivo] [nvarchar](30) NULL,
	[descripcion] [nvarchar](180) NOT NULL,
	[nivel_sugerido] [nvarchar](20) NOT NULL,
	[requiere_observacion] [bit] NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_motivo_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_movimientos]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_movimientos](
	[id_movimiento] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[tipo_evento] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](500) NOT NULL,
	[turno] [nvarchar](10) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_niveles_alerta]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_niveles_alerta](
	[id_alerta] [int] NOT NULL,
	[descripcion] [nvarchar](80) NOT NULL,
	[color_hex] [nvarchar](7) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_niveles_incidente]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_niveles_incidente](
	[id_incidentes] [int] IDENTITY(1,1) NOT NULL,
	[nivel] [tinyint] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incidentes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_novedades]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_novedades](
	[idnovedad] [int] IDENTITY(1,1) NOT NULL,
	[id_reporte] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](0) NOT NULL,
	[descripcion] [nvarchar](2000) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[turno] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idnovedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_parametro]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_parametro](
	[nombre] [varchar](100) NOT NULL,
	[valor] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_personas]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_personas](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nidentificacion] [nvarchar](20) NOT NULL,
	[tidentif] [nvarchar](20) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[genero] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_reporte_supervisor]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_reporte_supervisor](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[fecha_reporte] [date] NOT NULL,
	[usuario_genera] [nvarchar](150) NOT NULL,
	[creado_en] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_rondas_cabecera]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_rondas_cabecera](
	[id_ronda] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[turno] [nvarchar](20) NOT NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ronda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_rondas_detalles]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_rondas_detalles](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_ronda] [int] NOT NULL,
	[hora_registro] [datetime] NOT NULL,
	[actividad] [nvarchar](max) NOT NULL,
	[id_alerta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_totales_actividades]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_totales_actividades](
	[id_actividades] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[total_detalles] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_actividades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_totales_visitas]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_totales_visitas](
	[idtotal] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[total_visitas] [int] NOT NULL,
	[total_activas] [int] NOT NULL,
	[total_proveedores] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idtotal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_usuarios_apm]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_usuarios_apm](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [nvarchar](20) NOT NULL,
	[nombres] [nvarchar](150) NOT NULL,
	[id_departamento] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[ultimo_ingreso] [datetime2](0) NULL,
	[creado_en] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bit_visitas]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bit_visitas](
	[id_visita] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[tipo_visitante] [nvarchar](20) NOT NULL,
	[id_empresa] [int] NULL,
	[id_funcionario] [int] NULL,
	[id_destino] [int] NOT NULL,
	[id_motivo] [int] NOT NULL,
	[detalle_motivo] [nvarchar](max) NULL,
	[id_nivel_incidente] [int] NOT NULL,
	[fecha_visita] [date] NOT NULL,
	[hora_entrada] [time](7) NOT NULL,
	[hora_salida] [time](7) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[idestado] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[detalle] [nvarchar](255) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_th_departamentos_activos]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_th_departamentos_activos] AS
SELECT 
    iddepartamento,
    nombre,
    detalle,
    estado
FROM dbo.bit_departamentos
WHERE estado = 1;
GO
SET IDENTITY_INSERT [dbo].[bit_acc_secuenciales] ON 

INSERT [dbo].[bit_acc_secuenciales] ([id_secuencial], [modulo], [tabla], [descripcion], [prefijo_codigo], [ultimo_numero], [longitud], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'Inventario CCTV', N'inv_camaras', N'Secuencial controlado para maestro de cámaras CCTV', N'CAM-', 18, 6, 1, CAST(N'2026-05-27T14:50:41.097' AS DateTime), CAST(N'2026-05-27T16:47:17.840' AS DateTime))
INSERT [dbo].[bit_acc_secuenciales] ([id_secuencial], [modulo], [tabla], [descripcion], [prefijo_codigo], [ultimo_numero], [longitud], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'Bitácoras CCTV', N'bit_motivos_camaras', N'Secuencial controlado para motivos de novedades de cámaras CCTV', N'MOT-CCTV-', 11, 6, 1, CAST(N'2026-05-27T14:50:41.190' AS DateTime), CAST(N'2026-07-11T11:29:43.193' AS DateTime))
INSERT [dbo].[bit_acc_secuenciales] ([id_secuencial], [modulo], [tabla], [descripcion], [prefijo_codigo], [ultimo_numero], [longitud], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'Bitácoras CCTV', N'bit_camaras', N'Secuencial controlado para registros de bitácora de cámaras CCTV', N'BIT-CCTV-', 41, 6, 1, CAST(N'2026-05-27T15:37:14.597' AS DateTime), CAST(N'2026-07-11T11:29:19.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[bit_acc_secuenciales] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_camaras] ON 

SET IDENTITY_INSERT [dbo].[bit_camaras] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_departamentos] ON 

INSERT [dbo].[bit_departamentos] ([iddepartamento], [nombre], [detalle], [estado]) VALUES (1, N'TECNOLOGIA DE LA INFORMACION', N'Departamento de tecnología y soporte informático', 1)
INSERT [dbo].[bit_departamentos] ([iddepartamento], [nombre], [detalle], [estado]) VALUES (2, N'EDIFICIO ADMINISTRATIVO', N'Departamento administrativo institucional', 1)
INSERT [dbo].[bit_departamentos] ([iddepartamento], [nombre], [detalle], [estado]) VALUES (3, N'ASESORIA JURIDICA', N'Departamento legal y jurídico', 1)
SET IDENTITY_INSERT [dbo].[bit_departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_destinos] ON 

INSERT [dbo].[bit_destinos] ([id_destino], [nombre], [estado]) VALUES (1, N'Gerencia General', 1)
INSERT [dbo].[bit_destinos] ([id_destino], [nombre], [estado]) VALUES (2, N'Talento Humano', 1)
INSERT [dbo].[bit_destinos] ([id_destino], [nombre], [estado]) VALUES (3, N'Finanzas', 1)
SET IDENTITY_INSERT [dbo].[bit_destinos] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_empresas] ON 

INSERT [dbo].[bit_empresas] ([id_empresa], [empresa], [razonsocial], [ruc], [estado]) VALUES (1, N'Naviera Manta S.A.', N'Naviera Manta Sociedad Anónima', N'1790012345001', 1)
INSERT [dbo].[bit_empresas] ([id_empresa], [empresa], [razonsocial], [ruc], [estado]) VALUES (2, N'Logística Pacífico', N'Logística Pacífico Cía. Ltda.', N'1790012345002', 1)
INSERT [dbo].[bit_empresas] ([id_empresa], [empresa], [razonsocial], [ruc], [estado]) VALUES (3, N'Seguridad Portuaria Andina', N'Seguridad Portuaria Andina S.A.', N'1790012345003', 1)
SET IDENTITY_INSERT [dbo].[bit_empresas] OFF
GO
INSERT [dbo].[bit_estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (0, N'ANULADO', N'REG. ANULADO', 1)
INSERT [dbo].[bit_estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (1, N'TODOS', N'REGISTRO ACTIVO', 1)
INSERT [dbo].[bit_estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (2, N'EN TRAMITE', N'SOLICITUD EN TRAMITE', 1)
GO
SET IDENTITY_INSERT [dbo].[bit_funcionarios] ON 

INSERT [dbo].[bit_funcionarios] ([id_funcionario], [nombre], [cargo], [cedula], [estado]) VALUES (1, N'Ing. Carlos Zambrano', N'Gerente General', NULL, 1)
INSERT [dbo].[bit_funcionarios] ([id_funcionario], [nombre], [cargo], [cedula], [estado]) VALUES (2, N'Lcda. María López', N'Jefe de Talento Humano', NULL, 1)
INSERT [dbo].[bit_funcionarios] ([id_funcionario], [nombre], [cargo], [cedula], [estado]) VALUES (3, N'Econ. Juan Pérez', N'Jefe Financiero', NULL, 1)
SET IDENTITY_INSERT [dbo].[bit_funcionarios] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_inv_camaras] ON 

INSERT [dbo].[bit_inv_camaras] ([id_camara], [cod_old], [codigo], [tipo], [marca], [modelo], [tecnologia], [caracteristica], [ip], [mac], [serie], [ubicacion], [detalle], [grabador], [estado], [fecha_creacion], [fecha_actualizacion], [sec_camara], [codigo_secuencial]) VALUES (1, N'006088', NULL, N'Fija + Housing', N'SAMSUNG', N'SNB-5000', N'IP', N'1.3MP + housing IP66', N'20.20.20.17', N'00:16:6c:7a:cb:ec', N'C5E46V2C201018P', N'TPyC', N'Entrada peatonal', N'NVR-Fijas', 1, CAST(N'2026-05-15T10:18:39.403' AS DateTime), NULL, 1, N'CAM-000001')
INSERT [dbo].[bit_inv_camaras] ([id_camara], [cod_old], [codigo], [tipo], [marca], [modelo], [tecnologia], [caracteristica], [ip], [mac], [serie], [ubicacion], [detalle], [grabador], [estado], [fecha_creacion], [fecha_actualizacion], [sec_camara], [codigo_secuencial]) VALUES (2, N'006079', N'11827201', N'Fija + Housing', N'SAMSUNG', N'SNB-5000', N'IP', N'1.3MP + housing IP66', N'20.20.20.19', N'00:16:6C:7A:CB:EE', N'C5E46V2C201020J', N'TPyC', N'Salida peatonal', N'NVR-Fijas', 1, CAST(N'2026-05-15T10:18:39.733' AS DateTime), NULL, 2, N'CAM-000002')
SET IDENTITY_INSERT [dbo].[bit_inv_camaras] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_motivos] ON 

INSERT [dbo].[bit_motivos] ([id_motivo], [descripcion], [estado]) VALUES (1, N'Reunión de trabajo', 1)
INSERT [dbo].[bit_motivos] ([id_motivo], [descripcion], [estado]) VALUES (2, N'Entrega de documentos', 1)
INSERT [dbo].[bit_motivos] ([id_motivo], [descripcion], [estado]) VALUES (3, N'Mantenimiento', 1)
SET IDENTITY_INSERT [dbo].[bit_motivos] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_motivos_camaras] ON 

INSERT [dbo].[bit_motivos_camaras] ([id_motivo_camara], [sec_motivo], [codigo_motivo], [descripcion], [nivel_sugerido], [requiere_observacion], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (1, 1, N'MOT-CCTV-000001', N'Sin señal', N'Crítico', 1, 1, CAST(N'2026-05-27T14:50:41.130' AS DateTime), NULL)
INSERT [dbo].[bit_motivos_camaras] ([id_motivo_camara], [sec_motivo], [codigo_motivo], [descripcion], [nivel_sugerido], [requiere_observacion], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (2, 2, N'MOT-CCTV-000002', N'Imagen borrosaa', N'Medio', 1, 1, CAST(N'2026-05-27T14:50:41.143' AS DateTime), CAST(N'2026-06-09T15:37:46.640' AS DateTime))
INSERT [dbo].[bit_motivos_camaras] ([id_motivo_camara], [sec_motivo], [codigo_motivo], [descripcion], [nivel_sugerido], [requiere_observacion], [estado], [fecha_creacion], [fecha_actualizacion]) VALUES (3, 3, N'MOT-CCTV-000003', N'Cámara fuera de servicio', N'Crítico', 1, 1, CAST(N'2026-05-27T14:50:41.143' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[bit_motivos_camaras] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_movimientos] ON 

INSERT [dbo].[bit_movimientos] ([id_movimiento], [id_usuario], [tipo_evento], [descripcion], [turno], [fecha_hora]) VALUES (1, NULL, N'INGRESO', N'Ingreso de visitante [Ricardo Peña Delgado] por garita. [REF:V10]', N'Mañana', CAST(N'2026-05-07T09:14:29.967' AS DateTime))
INSERT [dbo].[bit_movimientos] ([id_movimiento], [id_usuario], [tipo_evento], [descripcion], [turno], [fecha_hora]) VALUES (2, NULL, N'INGRESO', N'Ingreso de visitante [Gloria Paredes Baque] por garita. [REF:V9]', N'Mañana', CAST(N'2026-05-07T09:14:29.967' AS DateTime))
INSERT [dbo].[bit_movimientos] ([id_movimiento], [id_usuario], [tipo_evento], [descripcion], [turno], [fecha_hora]) VALUES (3, NULL, N'INGRESO', N'Ingreso de visitante [Pablo Castillo Ruiz] por garita. [REF:V8]', N'Mañana', CAST(N'2026-05-07T09:14:29.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[bit_movimientos] OFF
GO
INSERT [dbo].[bit_niveles_alerta] ([id_alerta], [descripcion], [color_hex], [estado]) VALUES (1, N'Normal', N'#6c757d', 1)
INSERT [dbo].[bit_niveles_alerta] ([id_alerta], [descripcion], [color_hex], [estado]) VALUES (2, N'Medio', N'#ffc107', 1)
INSERT [dbo].[bit_niveles_alerta] ([id_alerta], [descripcion], [color_hex], [estado]) VALUES (3, N'Crítico', N'#dc3545', 1)
GO
SET IDENTITY_INSERT [dbo].[bit_niveles_incidente] ON 

INSERT [dbo].[bit_niveles_incidente] ([id_incidentes], [nivel], [descripcion], [estado]) VALUES (1, 1, N'Normal', 1)
INSERT [dbo].[bit_niveles_incidente] ([id_incidentes], [nivel], [descripcion], [estado]) VALUES (2, 2, N'Medio', 1)
INSERT [dbo].[bit_niveles_incidente] ([id_incidentes], [nivel], [descripcion], [estado]) VALUES (3, 3, N'Crítico', 1)
SET IDENTITY_INSERT [dbo].[bit_niveles_incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_novedades] ON 

INSERT [dbo].[bit_novedades] ([idnovedad], [id_reporte], [fecha], [hora], [descripcion], [estado], [turno]) VALUES (1, 16, CAST(N'2026-06-18' AS Date), CAST(N'16:37:00' AS Time), N'Esto es una pruebaaa', N'Registrada', N'Tarde')
SET IDENTITY_INSERT [dbo].[bit_novedades] OFF
GO
INSERT [dbo].[bit_parametro] ([nombre], [valor]) VALUES (N'dias_edicion', N'1')
GO
SET IDENTITY_INSERT [dbo].[bit_personas] ON 

INSERT [dbo].[bit_personas] ([id_persona], [nidentificacion], [tidentif], [nombres], [apellidos], [estado], [genero]) VALUES (1, N'1311001001', N'Cédula', N'Luis Barcia', N'García Mora', 1, NULL)
INSERT [dbo].[bit_personas] ([id_persona], [nidentificacion], [tidentif], [nombres], [apellidos], [estado], [genero]) VALUES (2, N'1311001002', N'Cédula', N'Ana', N'Torres Salazar', 1, NULL)
INSERT [dbo].[bit_personas] ([id_persona], [nidentificacion], [tidentif], [nombres], [apellidos], [estado], [genero]) VALUES (3, N'1311001003', N'Cédula', N'Pedro', N'Martínez Vera', 1, NULL)
SET IDENTITY_INSERT [dbo].[bit_personas] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_reporte_supervisor] ON 

INSERT [dbo].[bit_reporte_supervisor] ([id_reporte], [fecha_reporte], [usuario_genera], [creado_en]) VALUES (1, CAST(N'2026-05-07' AS Date), N'Supervisor', CAST(N'2026-05-07T14:56:26.0000000' AS DateTime2))
INSERT [dbo].[bit_reporte_supervisor] ([id_reporte], [fecha_reporte], [usuario_genera], [creado_en]) VALUES (2, CAST(N'2026-05-08' AS Date), N'Supervisor', CAST(N'2026-05-08T16:42:27.0000000' AS DateTime2))
INSERT [dbo].[bit_reporte_supervisor] ([id_reporte], [fecha_reporte], [usuario_genera], [creado_en]) VALUES (3, CAST(N'2026-05-11' AS Date), N'Supervisor', CAST(N'2026-05-11T19:09:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[bit_reporte_supervisor] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_rondas_cabecera] ON 

INSERT [dbo].[bit_rondas_cabecera] ([id_ronda], [id_usuario], [fecha], [turno], [hora_inicio], [hora_fin], [estado]) VALUES (1, 2, CAST(N'2026-05-13' AS Date), N'Tarde', CAST(N'16:00:00' AS Time), CAST(N'23:00:00' AS Time), 1)
INSERT [dbo].[bit_rondas_cabecera] ([id_ronda], [id_usuario], [fecha], [turno], [hora_inicio], [hora_fin], [estado]) VALUES (2, 2, CAST(N'2026-05-18' AS Date), N'Tarde', CAST(N'15:00:00' AS Time), CAST(N'22:00:00' AS Time), 1)
INSERT [dbo].[bit_rondas_cabecera] ([id_ronda], [id_usuario], [fecha], [turno], [hora_inicio], [hora_fin], [estado]) VALUES (3, 2, CAST(N'2026-07-09' AS Date), N'Tarde', CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[bit_rondas_cabecera] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_rondas_detalles] ON 

INSERT [dbo].[bit_rondas_detalles] ([id_detalle], [id_ronda], [hora_registro], [actividad], [id_alerta]) VALUES (1, 1, CAST(N'2026-05-13T15:26:38.000' AS DateTime), N'Prueba', 2)
INSERT [dbo].[bit_rondas_detalles] ([id_detalle], [id_ronda], [hora_registro], [actividad], [id_alerta]) VALUES (2, 1, CAST(N'2026-05-13T16:29:17.000' AS DateTime), N'dsfasfadsfsdafasf', 1)
INSERT [dbo].[bit_rondas_detalles] ([id_detalle], [id_ronda], [hora_registro], [actividad], [id_alerta]) VALUES (3, 2, CAST(N'2026-05-18T16:21:05.000' AS DateTime), N'FGSDFGDFGDFGS', 1)
SET IDENTITY_INSERT [dbo].[bit_rondas_detalles] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_totales_actividades] ON 

INSERT [dbo].[bit_totales_actividades] ([id_actividades], [fecha], [total_detalles]) VALUES (1, CAST(N'2026-05-13' AS Date), 2)
INSERT [dbo].[bit_totales_actividades] ([id_actividades], [fecha], [total_detalles]) VALUES (2, CAST(N'2026-05-18' AS Date), 1)
INSERT [dbo].[bit_totales_actividades] ([id_actividades], [fecha], [total_detalles]) VALUES (3, CAST(N'2026-07-11' AS Date), 2)
SET IDENTITY_INSERT [dbo].[bit_totales_actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_totales_visitas] ON 

INSERT [dbo].[bit_totales_visitas] ([idtotal], [fecha], [total_visitas], [total_activas], [total_proveedores]) VALUES (1, CAST(N'2026-02-28' AS Date), 1, 0, 0)
INSERT [dbo].[bit_totales_visitas] ([idtotal], [fecha], [total_visitas], [total_activas], [total_proveedores]) VALUES (2, CAST(N'2026-03-01' AS Date), 2, 0, 2)
INSERT [dbo].[bit_totales_visitas] ([idtotal], [fecha], [total_visitas], [total_activas], [total_proveedores]) VALUES (3, CAST(N'2026-03-02' AS Date), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[bit_totales_visitas] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_usuarios_apm] ON 

INSERT [dbo].[bit_usuarios_apm] ([id_usuario], [cedula], [nombres], [id_departamento], [estado], [password_hash], [ultimo_ingreso], [creado_en]) VALUES (1, N'1301234567', N'Usuario Gerencia', 6, 1, N'e86f78a8a3caf0b60d8e74e5942aa6d86dc150cd3c03338aef25b7d2d7e3acc7', NULL, CAST(N'2026-05-07T14:14:30.0000000' AS DateTime2))
INSERT [dbo].[bit_usuarios_apm] ([id_usuario], [cedula], [nombres], [id_departamento], [estado], [password_hash], [ultimo_ingreso], [creado_en]) VALUES (2, N'1307654321', N'Usuario Seguridad Integral', 4, 1, N'a9d66b6be6b2eeb4c0676bcee2d6489157ef7e18a8919c963dc1baec63e85aac', NULL, CAST(N'2026-05-07T14:14:30.0000000' AS DateTime2))
INSERT [dbo].[bit_usuarios_apm] ([id_usuario], [cedula], [nombres], [id_departamento], [estado], [password_hash], [ultimo_ingreso], [creado_en]) VALUES (3, N'1302223344', N'Usuario Tesoreria', 8, 1, N'791a3a1c97270b5a0aff6bbffdd2a53def109c907f9d399e08f298d0cbee6139', NULL, CAST(N'2026-05-07T14:14:30.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[bit_usuarios_apm] OFF
GO
SET IDENTITY_INSERT [dbo].[bit_visitas] ON 

INSERT [dbo].[bit_visitas] ([id_visita], [id_persona], [tipo_visitante], [id_empresa], [id_funcionario], [id_destino], [id_motivo], [detalle_motivo], [id_nivel_incidente], [fecha_visita], [hora_entrada], [hora_salida], [estado]) VALUES (1, 1, N'Empresa', 1, 1, 1, 1, NULL, 1, CAST(N'2026-03-04' AS Date), CAST(N'08:15:00' AS Time), CAST(N'12:15:00' AS Time), 1)
INSERT [dbo].[bit_visitas] ([id_visita], [id_persona], [tipo_visitante], [id_empresa], [id_funcionario], [id_destino], [id_motivo], [detalle_motivo], [id_nivel_incidente], [fecha_visita], [hora_entrada], [hora_salida], [estado]) VALUES (2, 2, N'Empresa', 2, 2, 2, 2, N'', 2, CAST(N'2026-03-04' AS Date), CAST(N'08:30:00' AS Time), NULL, 1)
INSERT [dbo].[bit_visitas] ([id_visita], [id_persona], [tipo_visitante], [id_empresa], [id_funcionario], [id_destino], [id_motivo], [detalle_motivo], [id_nivel_incidente], [fecha_visita], [hora_entrada], [hora_salida], [estado]) VALUES (3, 3, N'Personal', NULL, 3, 3, 3, N'', 1, CAST(N'2026-03-04' AS Date), CAST(N'09:00:00' AS Time), NULL, 1)
SET IDENTITY_INSERT [dbo].[bit_visitas] OFF
GO
INSERT [dbo].[estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (0, N'ANULADO', N'REG. ANULADO', 0)
INSERT [dbo].[estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (1, N'TODOS', N'REGISTRO ACTIVO', 1)
INSERT [dbo].[estados] ([idestado], [descripcion], [detalle], [estado]) VALUES (2, N'EN TRAMITE', N'SOLICITUD EN TRAMITE', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_acc_secuenciales_tabla]    Script Date: 11/7/2026 16:38:50 ******/
ALTER TABLE [dbo].[bit_acc_secuenciales] ADD  CONSTRAINT [UQ_acc_secuenciales_tabla] UNIQUE NONCLUSTERED 
(
	[tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bitacora_camaras_codigo_bitacora]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_codigo_bitacora] ON [dbo].[bit_camaras]
(
	[codigo_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_camaras_id_camara]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_id_camara] ON [dbo].[bit_camaras]
(
	[id_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_camaras_id_motivo_camara]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_id_motivo_camara] ON [dbo].[bit_camaras]
(
	[id_motivo_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_camaras_nivel_alerta]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_nivel_alerta] ON [dbo].[bit_camaras]
(
	[nivel_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_camaras_sec_bitacora]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_sec_bitacora] ON [dbo].[bit_camaras]
(
	[sec_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_bitacora_camaras_tipo_registro]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bitacora_camaras_tipo_registro] ON [dbo].[bit_camaras]
(
	[tipo_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_departamentos_nom_departa]    Script Date: 11/7/2026 16:38:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_departamentos_nom_departa] ON [dbo].[bit_departamentos]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_funcionarios_cedula]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_funcionarios_cedula] ON [dbo].[bit_funcionarios]
(
	[cedula] ASC
)
WHERE ([cedula] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inv_camaras_codigo]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_inv_camaras_codigo] ON [dbo].[bit_inv_camaras]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inv_camaras_codigo_secuencial]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_inv_camaras_codigo_secuencial] ON [dbo].[bit_inv_camaras]
(
	[codigo_secuencial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inv_camaras_detalle]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_inv_camaras_detalle] ON [dbo].[bit_inv_camaras]
(
	[detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_inv_camaras_ip]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_inv_camaras_ip] ON [dbo].[bit_inv_camaras]
(
	[ip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_inv_camaras_sec_camara]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_inv_camaras_sec_camara] ON [dbo].[bit_inv_camaras]
(
	[sec_camara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bit_motivos_camaras_codigo]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bit_motivos_camaras_codigo] ON [dbo].[bit_motivos_camaras]
(
	[codigo_motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bit_motivos_camaras_descripcion]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_bit_motivos_camaras_descripcion] ON [dbo].[bit_motivos_camaras]
(
	[descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_niveles_incidente_nivel]    Script Date: 11/7/2026 16:38:50 ******/
ALTER TABLE [dbo].[bit_niveles_incidente] ADD  CONSTRAINT [UQ_niveles_incidente_nivel] UNIQUE NONCLUSTERED 
(
	[nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_novedades_reporte_fecha]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_novedades_reporte_fecha] ON [dbo].[bit_novedades]
(
	[id_reporte] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_personas_nidentificacion_real]    Script Date: 11/7/2026 16:38:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_personas_nidentificacion_real] ON [dbo].[bit_personas]
(
	[nidentificacion] ASC
)
WHERE ([nidentificacion]<>N'9999999999')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_reporte_supervisor_fecha]    Script Date: 11/7/2026 16:38:50 ******/
ALTER TABLE [dbo].[bit_reporte_supervisor] ADD  CONSTRAINT [UQ_reporte_supervisor_fecha] UNIQUE NONCLUSTERED 
(
	[fecha_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_rondas_cabecera_usuario_fecha]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_rondas_cabecera_usuario_fecha] ON [dbo].[bit_rondas_cabecera]
(
	[id_usuario] ASC,
	[fecha] ASC,
	[turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_rondas_detalles_ronda]    Script Date: 11/7/2026 16:38:50 ******/
CREATE NONCLUSTERED INDEX [IX_rondas_detalles_ronda] ON [dbo].[bit_rondas_detalles]
(
	[id_ronda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_totales_actividades_fecha]    Script Date: 11/7/2026 16:38:50 ******/
ALTER TABLE [dbo].[bit_totales_actividades] ADD  CONSTRAINT [UQ_totales_actividades_fecha] UNIQUE NONCLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_totales_visitas_fecha]    Script Date: 11/7/2026 16:38:50 ******/
ALTER TABLE [dbo].[bit_totales_visitas] ADD  CONSTRAINT [UQ_totales_visitas_fecha] UNIQUE NONCLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_usuarios_apm_cedula_departamento]    Script Date: 11/7/2026 16:38:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_usuarios_apm_cedula_departamento] ON [dbo].[bit_usuarios_apm]
(
	[cedula] ASC,
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bit_acc_secuenciales] ADD  CONSTRAINT [DF_acc_secuenciales_ultimo]  DEFAULT ((0)) FOR [ultimo_numero]
GO
ALTER TABLE [dbo].[bit_acc_secuenciales] ADD  CONSTRAINT [DF_acc_secuenciales_longitud]  DEFAULT ((6)) FOR [longitud]
GO
ALTER TABLE [dbo].[bit_acc_secuenciales] ADD  CONSTRAINT [DF_acc_secuenciales_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_acc_secuenciales] ADD  CONSTRAINT [DF_acc_secuenciales_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[bit_camaras] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_camaras] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[bit_camaras] ADD  CONSTRAINT [DF_bitacora_camaras_nivel_alerta]  DEFAULT ((104)) FOR [nivel_alerta]
GO
ALTER TABLE [dbo].[bit_camaras] ADD  CONSTRAINT [DF_bitacora_camaras_tipo_registro]  DEFAULT ((102)) FOR [tipo_registro]
GO
ALTER TABLE [dbo].[bit_departamentos] ADD  CONSTRAINT [DF_departamentos_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_destinos] ADD  CONSTRAINT [DF_destinos_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_empresas] ADD  CONSTRAINT [DF_empresas_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_estados] ADD  CONSTRAINT [DF_bit_estados_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_funcionarios] ADD  CONSTRAINT [DF_funcionarios_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_inv_camaras] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_inv_camaras] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[bit_motivos] ADD  CONSTRAINT [DF_motivos_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_motivos_camaras] ADD  CONSTRAINT [DF_bit_motivos_camaras_nivel]  DEFAULT ('Medio') FOR [nivel_sugerido]
GO
ALTER TABLE [dbo].[bit_motivos_camaras] ADD  CONSTRAINT [DF_bit_motivos_camaras_obs]  DEFAULT ((1)) FOR [requiere_observacion]
GO
ALTER TABLE [dbo].[bit_motivos_camaras] ADD  CONSTRAINT [DF_bit_motivos_camaras_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_motivos_camaras] ADD  CONSTRAINT [DF_bit_motivos_camaras_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[bit_movimientos] ADD  CONSTRAINT [DF_movimientos_fecha_hora]  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[bit_niveles_alerta] ADD  CONSTRAINT [DF_niveles_alerta_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_niveles_incidente] ADD  CONSTRAINT [DF_niveles_incidente_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_novedades] ADD  CONSTRAINT [DF_novedades_estado]  DEFAULT (N'Registrada') FOR [estado]
GO
ALTER TABLE [dbo].[bit_personas] ADD  CONSTRAINT [DF_personas_tidentif]  DEFAULT (N'Cédula') FOR [tidentif]
GO
ALTER TABLE [dbo].[bit_personas] ADD  CONSTRAINT [DF_personas_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_reporte_supervisor] ADD  CONSTRAINT [DF_reporte_supervisor_creado]  DEFAULT (sysutcdatetime()) FOR [creado_en]
GO
ALTER TABLE [dbo].[bit_rondas_cabecera] ADD  CONSTRAINT [DF_rondas_cabecera_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_rondas_detalles] ADD  CONSTRAINT [DF_rondas_detalles_hora]  DEFAULT (getdate()) FOR [hora_registro]
GO
ALTER TABLE [dbo].[bit_totales_actividades] ADD  CONSTRAINT [DF_totales_actividades_total]  DEFAULT ((0)) FOR [total_detalles]
GO
ALTER TABLE [dbo].[bit_totales_visitas] ADD  CONSTRAINT [DF_totales_visitas_total_visitas]  DEFAULT ((0)) FOR [total_visitas]
GO
ALTER TABLE [dbo].[bit_totales_visitas] ADD  CONSTRAINT [DF_totales_visitas_total_activas]  DEFAULT ((0)) FOR [total_activas]
GO
ALTER TABLE [dbo].[bit_totales_visitas] ADD  CONSTRAINT [DF_totales_visitas_total_proveedores]  DEFAULT ((0)) FOR [total_proveedores]
GO
ALTER TABLE [dbo].[bit_usuarios_apm] ADD  CONSTRAINT [DF_usuarios_apm_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_usuarios_apm] ADD  CONSTRAINT [DF_usuarios_apm_creado_en]  DEFAULT (sysutcdatetime()) FOR [creado_en]
GO
ALTER TABLE [dbo].[bit_visitas] ADD  CONSTRAINT [DF_visitas_detalle_motivo]  DEFAULT (N'') FOR [detalle_motivo]
GO
ALTER TABLE [dbo].[bit_visitas] ADD  CONSTRAINT [DF_visitas_id_nivel]  DEFAULT ((1)) FOR [id_nivel_incidente]
GO
ALTER TABLE [dbo].[bit_visitas] ADD  CONSTRAINT [DF_visitas_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_visita]
GO
ALTER TABLE [dbo].[bit_visitas] ADD  CONSTRAINT [DF_visitas_hora_entrada]  DEFAULT (CONVERT([time],getdate())) FOR [hora_entrada]
GO
ALTER TABLE [dbo].[bit_visitas] ADD  CONSTRAINT [DF_visitas_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[estados] ADD  CONSTRAINT [DF_estados_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_camaras_bit_motivos_camaras] FOREIGN KEY([id_motivo_camara])
REFERENCES [dbo].[bit_motivos_camaras] ([id_motivo_camara])
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [FK_bitacora_camaras_bit_motivos_camaras]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_camaras_estado_camara_bit_estados] FOREIGN KEY([estado_camara])
REFERENCES [dbo].[bit_estados] ([idestado])
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [FK_bitacora_camaras_estado_camara_bit_estados]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_camaras_inv_camaras] FOREIGN KEY([id_camara])
REFERENCES [dbo].[bit_inv_camaras] ([id_camara])
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [FK_bitacora_camaras_inv_camaras]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_camaras_nivel_alerta_bit_estados] FOREIGN KEY([nivel_alerta])
REFERENCES [dbo].[bit_estados] ([idestado])
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [FK_bitacora_camaras_nivel_alerta_bit_estados]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_camaras_tipo_registro_bit_estados] FOREIGN KEY([tipo_registro])
REFERENCES [dbo].[bit_estados] ([idestado])
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [FK_bitacora_camaras_tipo_registro_bit_estados]
GO
ALTER TABLE [dbo].[bit_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_usuarios_apm] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[bit_usuarios_apm] ([id_usuario])
GO
ALTER TABLE [dbo].[bit_movimientos] CHECK CONSTRAINT [FK_movimientos_usuarios_apm]
GO
ALTER TABLE [dbo].[bit_novedades]  WITH CHECK ADD  CONSTRAINT [FK_novedades_reporte] FOREIGN KEY([id_reporte])
REFERENCES [dbo].[bit_reporte_supervisor] ([id_reporte])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bit_novedades] CHECK CONSTRAINT [FK_novedades_reporte]
GO
ALTER TABLE [dbo].[bit_rondas_cabecera]  WITH CHECK ADD  CONSTRAINT [FK_rondas_cabecera_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[bit_usuarios_apm] ([id_usuario])
GO
ALTER TABLE [dbo].[bit_rondas_cabecera] CHECK CONSTRAINT [FK_rondas_cabecera_usuario]
GO
ALTER TABLE [dbo].[bit_rondas_detalles]  WITH CHECK ADD  CONSTRAINT [FK_rondas_detalles_alerta] FOREIGN KEY([id_alerta])
REFERENCES [dbo].[bit_niveles_alerta] ([id_alerta])
GO
ALTER TABLE [dbo].[bit_rondas_detalles] CHECK CONSTRAINT [FK_rondas_detalles_alerta]
GO
ALTER TABLE [dbo].[bit_rondas_detalles]  WITH CHECK ADD  CONSTRAINT [FK_rondas_detalles_ronda] FOREIGN KEY([id_ronda])
REFERENCES [dbo].[bit_rondas_cabecera] ([id_ronda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bit_rondas_detalles] CHECK CONSTRAINT [FK_rondas_detalles_ronda]
GO
ALTER TABLE [dbo].[bit_usuarios_apm]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_apm_departamento] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[bit_departamentos] ([iddepartamento])
GO
ALTER TABLE [dbo].[bit_usuarios_apm] CHECK CONSTRAINT [FK_usuarios_apm_departamento]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_destinos] FOREIGN KEY([id_destino])
REFERENCES [dbo].[bit_destinos] ([id_destino])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_destinos]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_empresas] FOREIGN KEY([id_empresa])
REFERENCES [dbo].[bit_empresas] ([id_empresa])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_empresas]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_funcionarios] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[bit_funcionarios] ([id_funcionario])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_funcionarios]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_motivos] FOREIGN KEY([id_motivo])
REFERENCES [dbo].[bit_motivos] ([id_motivo])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_motivos]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_niveles] FOREIGN KEY([id_nivel_incidente])
REFERENCES [dbo].[bit_niveles_incidente] ([id_incidentes])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_niveles]
GO
ALTER TABLE [dbo].[bit_visitas]  WITH CHECK ADD  CONSTRAINT [FK_visitas_personas] FOREIGN KEY([id_persona])
REFERENCES [dbo].[bit_personas] ([id_persona])
GO
ALTER TABLE [dbo].[bit_visitas] CHECK CONSTRAINT [FK_visitas_personas]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [CK_bitacora_camaras_estado_camara_num] CHECK  (([estado_camara] IS NULL OR ([estado_camara]=(101) OR [estado_camara]=(100))))
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [CK_bitacora_camaras_estado_camara_num]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [CK_bitacora_camaras_nivel_alerta] CHECK  (([nivel_alerta]=(106) OR [nivel_alerta]=(105) OR [nivel_alerta]=(104)))
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [CK_bitacora_camaras_nivel_alerta]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [CK_bitacora_camaras_rol_responsable] CHECK  (([rol_responsable] IS NULL OR ([rol_responsable]='Supervisor' OR [rol_responsable]='Inspector' OR [rol_responsable]='Consolista')))
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [CK_bitacora_camaras_rol_responsable]
GO
ALTER TABLE [dbo].[bit_camaras]  WITH CHECK ADD  CONSTRAINT [CK_bitacora_camaras_tipo_registro] CHECK  (([tipo_registro]=(103) OR [tipo_registro]=(102)))
GO
ALTER TABLE [dbo].[bit_camaras] CHECK CONSTRAINT [CK_bitacora_camaras_tipo_registro]
GO
ALTER TABLE [dbo].[bit_estados]  WITH CHECK ADD  CONSTRAINT [CK_bit_estados_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[bit_estados] CHECK CONSTRAINT [CK_bit_estados_estado]
GO
ALTER TABLE [dbo].[bit_motivos_camaras]  WITH CHECK ADD  CONSTRAINT [CK_bit_motivos_camaras_nivel] CHECK  (([nivel_sugerido]='Crítico' OR [nivel_sugerido]='Medio' OR [nivel_sugerido]='Normal'))
GO
ALTER TABLE [dbo].[bit_motivos_camaras] CHECK CONSTRAINT [CK_bit_motivos_camaras_nivel]
GO
ALTER TABLE [dbo].[bit_niveles_incidente]  WITH CHECK ADD  CONSTRAINT [CK_niveles_incidente_nivel] CHECK  (([nivel]>=(1) AND [nivel]<=(3)))
GO
ALTER TABLE [dbo].[bit_niveles_incidente] CHECK CONSTRAINT [CK_niveles_incidente_nivel]
GO
ALTER TABLE [dbo].[estados]  WITH CHECK ADD  CONSTRAINT [CK_estados_estado] CHECK  (([estado]=(1) OR [estado]=(0)))
GO
ALTER TABLE [dbo].[estados] CHECK CONSTRAINT [CK_estados_estado]
GO
/****** Object:  StoredProcedure [dbo].[apm_aplicar_passwords_demo]    Script Date: 11/7/2026 16:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[apm_aplicar_passwords_demo]
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE u
    SET u.password_hash = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', N'Admin@123'), 2)
    FROM dbo.usuarios_apm u
    WHERE u.cedula = N'1301234567';

    UPDATE u
    SET u.password_hash = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', N'Talento@123'), 2)
    FROM dbo.usuarios_apm u
    WHERE u.cedula = N'1307654321';

    UPDATE u
    SET u.password_hash = CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', N'Garita@123'), 2)
    FROM dbo.usuarios_apm u
    WHERE u.cedula = N'1302223344';
END

GO
USE [master]
GO
