SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_acciones_personal](
	[accion_id] [int] IDENTITY(1,1) NOT NULL,
	[numero_accion] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[fecha_elaboracion] [date] NOT NULL,
	[empleado_id] [int] NOT NULL,
	[tipo_accion] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[fecha_rige_desde] [date] NOT NULL,
	[fecha_rige_hasta] [date] NULL,
	[explicacion_legal] [varchar](max) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[actual_unidad_id] [int] NULL,
	[actual_puesto_id] [int] NULL,
	[actual_lugar_trabajo] [varchar](150) COLLATE Modern_Spanish_CI_AS NULL,
	[actual_remuneracion] [decimal](10, 2) NULL,
	[actual_partida_presupuestaria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[propuesta_unidad_id] [int] NULL,
	[propuesta_puesto_id] [int] NULL,
	[propuesta_lugar_trabajo] [varchar](150) COLLATE Modern_Spanish_CI_AS NULL,
	[propuesta_remuneracion] [decimal](10, 2) NULL,
	[propuesta_partida_presupuestaria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[estado_documento] [varchar](20) COLLATE Modern_Spanish_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_acciones_personal_old](
	[accion_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[tipo_accion] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[puesto_id] [int] NOT NULL,
	[unidad_id] [int] NOT NULL,
	[fecha_rige_desde] [date] NOT NULL,
	[fecha_rige_hasta] [date] NULL,
	[motivo] [varchar](max) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[estado] [varchar](20) COLLATE Modern_Spanish_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[accion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_empleados](
	[empleado_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_identificacion] [varchar](20) COLLATE Modern_Spanish_CI_AS NULL,
	[identificacion] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[nombres] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[apellidos] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[sexo] [char](1) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[estado_civil] [varchar](30) COLLATE Modern_Spanish_CI_AS NULL,
	[nacionalidad] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[unidad_id] [int] NULL,
	[puesto_id] [int] NULL,
	[fecha_ingreso] [date] NOT NULL,
	[sueldo_rmu] [decimal](10, 2) NOT NULL,
	[correo_institucional] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[correo_personal] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
	[telefono_movil] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[ciudad_residencia] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[direccion_domiciliaria] [varchar](max) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[cuenta_bancaria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[codigo_iess] [varchar](30) COLLATE Modern_Spanish_CI_AS NULL,
	[estado] [int] NULL,
	[fecha_creacion] [datetime] NULL,
	[cargas_familiares] [int] NULL,
	[tipo_cuenta_bancaria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[numero_cuenta_bancaria] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[institucion_bancaria] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_modulos](
	[modulo_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_modulo] [varchar](100) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[ruta_frontend] [varchar](100) COLLATE Modern_Spanish_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[modulo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_permisos_rol](
	[permiso_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_id] [int] NOT NULL,
	[modulo_id] [int] NOT NULL,
	[puede_visualizar] [bit] NULL,
	[puede_crear] [bit] NULL,
	[puede_editar] [bit] NULL,
	[puede_eliminar] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_puestos](
	[puesto_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_puesto] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[nombre_puesto] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[remuneracion_unificada] [decimal](10, 2) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[puesto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_roles](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_titulos](
	[titulo_id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[nivel_instruccion] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[nombre_titulo] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[institucion_educativa] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[numero_senescyt] [varchar](50) COLLATE Modern_Spanish_CI_AS NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[titulo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[th_unidades_organizacionales](
	[unidad_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_uorg] [varchar](20) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[nombre_unidad] [varchar](150) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[tipo_proceso] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[unidad_padre_id] [int] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[unidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Consulta Completa para buscar por Cédula en PHP
CREATE VIEW view_th_ceddatosempledo AS
SELECT 
    e.empleado_id AS id,
    e.identificacion AS cedula,
    e.apellidos,
    e.nombres,
    p.nombre_puesto AS cargo,
    u.nombre_unidad AS direccion_area,
    e.correo_institucional,
    e.estado
FROM th_empleados e
LEFT JOIN th_puestos p ON e.puesto_id = p.puesto_id
LEFT JOIN th_unidades_organizacionales u ON e.unidad_id = u.unidad_id;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Consulta básica para buscar por Cédula en PHP
CREATE VIEW view_th_cedempleados AS
SELECT 
    empleado_id AS id, 
    identificacion AS cedula, 
    nombres,
    apellidos,
    correo_institucional,
    estado
FROM th_empleados;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Consultar todos los empleados básicos
CREATE VIEW view_th_empleados AS
SELECT 
    empleado_id AS id, 
    identificacion AS cedula, 
    nombres,
    apellidos,
    correo_institucional,
    estado
FROM th_empleados;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[view_th_iddatosempledo] AS
SELECT 
    e.empleado_id AS id,
    e.identificacion AS cedula,
    e.apellidos,
    e.nombres,
    p.nombre_puesto AS cargo,
    u.nombre_unidad AS direccion_area,
    e.correo_institucional,
    e.estado,
    -- LOS NUEVOS CAMPOS AÑADIDOS
    e.cargas_familiares,
    e.tipo_cuenta_bancaria,
    e.numero_cuenta_bancaria,
    e.institucion_bancaria
FROM th_empleados e
LEFT JOIN th_puestos p ON e.puesto_id = p.puesto_id
LEFT JOIN th_unidades_organizacionales u ON e.unidad_id = u.unidad_id;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Consulta básica para buscar por ID en PHP
CREATE VIEW view_th_idempleados AS
SELECT 
    empleado_id AS id, 
    identificacion AS cedula, 
    nombres,
    apellidos,
    correo_institucional,
    estado
FROM th_empleados;
GO
ALTER TABLE [dbo].[th_acciones_personal] ADD  DEFAULT ('Borrador') FOR [estado_documento]
GO
ALTER TABLE [dbo].[th_acciones_personal_old] ADD  DEFAULT ('Generada') FOR [estado]
GO
ALTER TABLE [dbo].[th_empleados] ADD  DEFAULT ('Cédula') FOR [tipo_identificacion]
GO
ALTER TABLE [dbo].[th_empleados] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[th_empleados] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[th_empleados] ADD  CONSTRAINT [DF_th_empleados_cargas]  DEFAULT ((0)) FOR [cargas_familiares]
GO
ALTER TABLE [dbo].[th_permisos_rol] ADD  DEFAULT ((0)) FOR [puede_visualizar]
GO
ALTER TABLE [dbo].[th_permisos_rol] ADD  DEFAULT ((0)) FOR [puede_crear]
GO
ALTER TABLE [dbo].[th_permisos_rol] ADD  DEFAULT ((0)) FOR [puede_editar]
GO
ALTER TABLE [dbo].[th_permisos_rol] ADD  DEFAULT ((0)) FOR [puede_eliminar]
GO
ALTER TABLE [dbo].[th_puestos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[th_roles] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[th_titulos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[th_unidades_organizacionales] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[th_acciones_personal]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[th_empleados] ([empleado_id])
GO
ALTER TABLE [dbo].[th_acciones_personal] CHECK CONSTRAINT [FK_Accion_Empleado]
GO
ALTER TABLE [dbo].[th_acciones_personal]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Puesto_Actual] FOREIGN KEY([actual_puesto_id])
REFERENCES [dbo].[th_puestos] ([puesto_id])
GO
ALTER TABLE [dbo].[th_acciones_personal] CHECK CONSTRAINT [FK_Accion_Puesto_Actual]
GO
ALTER TABLE [dbo].[th_acciones_personal]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Puesto_Prop] FOREIGN KEY([propuesta_puesto_id])
REFERENCES [dbo].[th_puestos] ([puesto_id])
GO
ALTER TABLE [dbo].[th_acciones_personal] CHECK CONSTRAINT [FK_Accion_Puesto_Prop]
GO
ALTER TABLE [dbo].[th_acciones_personal]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Unidad_Actual] FOREIGN KEY([actual_unidad_id])
REFERENCES [dbo].[th_unidades_organizacionales] ([unidad_id])
GO
ALTER TABLE [dbo].[th_acciones_personal] CHECK CONSTRAINT [FK_Accion_Unidad_Actual]
GO
ALTER TABLE [dbo].[th_acciones_personal]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Unidad_Prop] FOREIGN KEY([propuesta_unidad_id])
REFERENCES [dbo].[th_unidades_organizacionales] ([unidad_id])
GO
ALTER TABLE [dbo].[th_acciones_personal] CHECK CONSTRAINT [FK_Accion_Unidad_Prop]
GO
ALTER TABLE [dbo].[th_acciones_personal_old]  WITH CHECK ADD  CONSTRAINT [FK_Acciones_Empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[th_empleados] ([empleado_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[th_acciones_personal_old] CHECK CONSTRAINT [FK_Acciones_Empleado]
GO
ALTER TABLE [dbo].[th_acciones_personal_old]  WITH CHECK ADD  CONSTRAINT [FK_Acciones_Puesto] FOREIGN KEY([puesto_id])
REFERENCES [dbo].[th_puestos] ([puesto_id])
GO
ALTER TABLE [dbo].[th_acciones_personal_old] CHECK CONSTRAINT [FK_Acciones_Puesto]
GO
ALTER TABLE [dbo].[th_acciones_personal_old]  WITH CHECK ADD  CONSTRAINT [FK_Acciones_Unidad] FOREIGN KEY([unidad_id])
REFERENCES [dbo].[th_unidades_organizacionales] ([unidad_id])
GO
ALTER TABLE [dbo].[th_acciones_personal_old] CHECK CONSTRAINT [FK_Acciones_Unidad]
GO
ALTER TABLE [dbo].[th_empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puesto] FOREIGN KEY([puesto_id])
REFERENCES [dbo].[th_puestos] ([puesto_id])
GO
ALTER TABLE [dbo].[th_empleados] CHECK CONSTRAINT [FK_Empleado_Puesto]
GO
ALTER TABLE [dbo].[th_empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Unidad] FOREIGN KEY([unidad_id])
REFERENCES [dbo].[th_unidades_organizacionales] ([unidad_id])
GO
ALTER TABLE [dbo].[th_empleados] CHECK CONSTRAINT [FK_Empleado_Unidad]
GO
ALTER TABLE [dbo].[th_permisos_rol]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Modulo] FOREIGN KEY([modulo_id])
REFERENCES [dbo].[th_modulos] ([modulo_id])
GO
ALTER TABLE [dbo].[th_permisos_rol] CHECK CONSTRAINT [FK_Permiso_Modulo]
GO
ALTER TABLE [dbo].[th_permisos_rol]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[th_roles] ([rol_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[th_permisos_rol] CHECK CONSTRAINT [FK_Permiso_Rol]
GO
ALTER TABLE [dbo].[th_titulos]  WITH CHECK ADD  CONSTRAINT [FK_Titulos_Empleado] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[th_empleados] ([empleado_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[th_titulos] CHECK CONSTRAINT [FK_Titulos_Empleado]
GO
ALTER TABLE [dbo].[th_unidades_organizacionales]  WITH CHECK ADD  CONSTRAINT [FK_Unidad_Padre] FOREIGN KEY([unidad_padre_id])
REFERENCES [dbo].[th_unidades_organizacionales] ([unidad_id])
GO
ALTER TABLE [dbo].[th_unidades_organizacionales] CHECK CONSTRAINT [FK_Unidad_Padre]
GO
ALTER TABLE [dbo].[th_empleados]  WITH CHECK ADD CHECK  (([sexo]='F' OR [sexo]='M'))
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_th_eliminar_empleado
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            
            DELETE FROM th_empleados 
            WHERE empleado_id = @EmpleadoID;
            
            IF @@ROWCOUNT = 0
            BEGIN
                THROW 50001, 'No existe empleado con ese ID', 1;
            END;
            
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END;

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_th_guardar_empleado]
    @identificacion VARCHAR(20),
    @nombres VARCHAR(100),
    @apellidos VARCHAR(100),
    @puesto_id INT,
    @unidad_id INT,
    @sexo VARCHAR(1),
    @fecha_ingreso DATE,
    @fecha_nacimiento DATE,
    @correo_institucional VARCHAR(150),
    @estado BIT = 1,
    -- NUEVOS PARÁMETROS OPCIONALES
    @cargas_familiares INT = 0,
    @tipo_cuenta_bancaria VARCHAR(50) = NULL,
    @numero_cuenta_bancaria VARCHAR(50) = NULL,
    @institucion_bancaria VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO th_empleados (
        identificacion, nombres, apellidos, puesto_id, unidad_id, 
        sexo, fecha_ingreso, fecha_nacimiento, correo_institucional, estado,
        cargas_familiares, tipo_cuenta_bancaria, numero_cuenta_bancaria, institucion_bancaria
    )
    VALUES (
        @identificacion, @nombres, @apellidos, @puesto_id, @unidad_id, 
        @sexo, @fecha_ingreso, @fecha_nacimiento, @correo_institucional, @estado,
        @cargas_familiares, @tipo_cuenta_bancaria, @numero_cuenta_bancaria, @institucion_bancaria
    );
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_th_modificar_empleado]
    @empleado_id INT,
    @identificacion VARCHAR(20),
    @nombres VARCHAR(100),
    @apellidos VARCHAR(100),
    @puesto_id INT,
    @unidad_id INT,
    @sexo VARCHAR(1),
    @fecha_ingreso DATE,
    @fecha_nacimiento DATE,
    @correo_institucional VARCHAR(150),
    @estado BIT,
    -- NUEVOS PARÁMETROS OPCIONALES
    @cargas_familiares INT = 0,
    @tipo_cuenta_bancaria VARCHAR(50) = NULL,
    @numero_cuenta_bancaria VARCHAR(50) = NULL,
    @institucion_bancaria VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE th_empleados
    SET 
        identificacion = @identificacion,
        nombres = @nombres,
        apellidos = @apellidos,
        puesto_id = @puesto_id,
        unidad_id = @unidad_id,
        sexo = @sexo,
        fecha_ingreso = @fecha_ingreso,
        fecha_nacimiento = @fecha_nacimiento,
        correo_institucional = @correo_institucional,
        estado = @estado,
        cargas_familiares = @cargas_familiares,
        tipo_cuenta_bancaria = @tipo_cuenta_bancaria,
        numero_cuenta_bancaria = @numero_cuenta_bancaria,
        institucion_bancaria = @institucion_bancaria
    WHERE empleado_id = @empleado_id;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.sp_th_obtener_siguiente_id
    @TablaNombre VARCHAR(100),
    @SiguienteID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT @SiguienteID = ultimo_id + 1
    FROM th_secuenciales WITH (ROWLOCK, UPDLOCK)
    WHERE tabla_nombre = @TablaNombre;
    
    UPDATE th_secuenciales
    SET ultimo_id = @SiguienteID
    WHERE tabla_nombre = @TablaNombre;
END;

GO

GO


-- Deshabilitar todas las restricciones de llaves forÃ¡neas y triggers para inserciÃ³n de datos
EXEC sp_MSforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL';
EXEC sp_MSforeachtable 'ALTER TABLE ? DISABLE TRIGGER ALL';
GO


GO

SET IDENTITY_INSERT [dbo].[th_acciones_personal_old] ON 

INSERT [dbo].[th_acciones_personal_old] ([accion_id], [empleado_id], [tipo_accion], [puesto_id], [unidad_id], [fecha_rige_desde], [fecha_rige_hasta], [motivo], [estado]) VALUES (1, 2, N'Ingreso', 2, 2, CAST(N'2023-03-01' AS Date), NULL, N'Contrato por servicios ocasionales en el área de nómina.', N'Generada')
SET IDENTITY_INSERT [dbo].[th_acciones_personal_old] OFF
GO

GO

SET IDENTITY_INSERT [dbo].[th_empleados] ON 

SET IDENTITY_INSERT [dbo].[th_empleados] OFF
GO

GO

SET IDENTITY_INSERT [dbo].[th_modulos] ON 

INSERT [dbo].[th_modulos] ([modulo_id], [nombre_modulo], [ruta_frontend]) VALUES (1, N'Dashboard Principal', N'inicio.php')
INSERT [dbo].[th_modulos] ([modulo_id], [nombre_modulo], [ruta_frontend]) VALUES (2, N'Directorio de Personal', N'directorio.php')
INSERT [dbo].[th_modulos] ([modulo_id], [nombre_modulo], [ruta_frontend]) VALUES (3, N'Formulario de Ingreso', N'formulario.php')
SET IDENTITY_INSERT [dbo].[th_modulos] OFF
GO

GO


GO

SET IDENTITY_INSERT [dbo].[th_puestos] ON 

INSERT [dbo].[th_puestos] ([puesto_id], [codigo_puesto], [nombre_puesto], [remuneracion_unificada], [activo]) VALUES (1, N'PST-001', N'DIRECTOR DE TALENTO HUMANO', CAST(2500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[th_puestos] ([puesto_id], [codigo_puesto], [nombre_puesto], [remuneracion_unificada], [activo]) VALUES (2, N'PST-002', N'ANALISTA DE NÓMINA', CAST(1200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[th_puestos] ([puesto_id], [codigo_puesto], [nombre_puesto], [remuneracion_unificada], [activo]) VALUES (3, N'PST-003', N'ESPECIALISTA EN SELECCIÓN', CAST(1200.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[th_puestos] OFF
GO

GO

SET IDENTITY_INSERT [dbo].[th_roles] ON 

INSERT [dbo].[th_roles] ([rol_id], [nombre_rol], [estado]) VALUES (1, N'Super Administrador', 1)
INSERT [dbo].[th_roles] ([rol_id], [nombre_rol], [estado]) VALUES (2, N'Director de Talento Humano', 1)
INSERT [dbo].[th_roles] ([rol_id], [nombre_rol], [estado]) VALUES (3, N'Analista de Nómina', 1)
SET IDENTITY_INSERT [dbo].[th_roles] OFF
GO

GO


GO

SET IDENTITY_INSERT [dbo].[th_unidades_organizacionales] ON 

INSERT [dbo].[th_unidades_organizacionales] ([unidad_id], [codigo_uorg], [nombre_unidad], [tipo_proceso], [unidad_padre_id], [activo]) VALUES (1, N'DIR-TH', N'DIRECCIÓN DE ADMINISTRACIÓN DE TALENTO HUMANO', N'Gobernante', NULL, 1)
INSERT [dbo].[th_unidades_organizacionales] ([unidad_id], [codigo_uorg], [nombre_unidad], [tipo_proceso], [unidad_padre_id], [activo]) VALUES (2, N'DEP-NOM', N'DEPARTAMENTO DE NÓMINAS', N'Sustantivo', 1, 1)
INSERT [dbo].[th_unidades_organizacionales] ([unidad_id], [codigo_uorg], [nombre_unidad], [tipo_proceso], [unidad_padre_id], [activo]) VALUES (3, N'DEP-SEL', N'DEPARTAMENTO DE SELECCIÓN', N'Sustantivo', 1, 1)
SET IDENTITY_INSERT [dbo].[th_unidades_organizacionales] OFF
GO

GO


-- Habilitar y comprobar todas las restricciones de llaves forÃ¡neas y triggers
EXEC sp_MSforeachtable 'ALTER TABLE ? WITH CHECK CHECK CONSTRAINT ALL';
EXEC sp_MSforeachtable 'ALTER TABLE ? ENABLE TRIGGER ALL';
GO

