PORTAL_ENV=production
PORTAL_BASE_URL=/PortalPortuario
PORTAL_TRUST_PROXY=false
PORTAL_PRIVATE_DIR=C:/ruta/privada/portal-portuario
PORTAL_DB_SERVER=SERVIDOR_SQL
PORTAL_DB_NAME=Talento_Humano
PORTAL_DB_USER=portal_app
PORTAL_DB_PASSWORD=GENERAR_SECRETO_UNICO
PORTAL_DB_ENCRYPT=true
PORTAL_DB_TRUST_CERT=false
PORTAL_TOKEN_KEY=GENERAR_64_CARACTERES_HEXADECIMALES
